<head>
  <link rel="icon" href="/static/img/logo.png" type="image/icon type">
  <link rel="stylesheet" href="/static/css/font.default.css">
  <link rel="stylesheet" href="/static/css/layouts/layout.default.css">
  <link rel="stylesheet" href="/static/css/pages/home.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<div class="_body">

<div class="body">

  <!-- Global Bar -->
  <div style="display:flex; width:100%; align-items: center;">
    <div is="d-logo" size="50px"></div>
    <div style="padding-left:32px;"></div>
    <div style="flex-grow:1;"> 
      <div is="serachbar">
        <div style="display:flex; border: 1px solid #769FCD; padding:8px; border-radius: 0px;">
          <div><span class="material-symbols-outlined">search</span></div>
          <input style="border:none; width:100%; outline:none; font-size:1rem;">
        </div>
      </div>
    </div>
    <div style="padding-left:32px;"></div>
  </div>

  <!-- Recent Item List -->
  <div style="display:flex; flex-direction:column; width:100%;">
    <div>
      <div class="text-3 section"> Recently </div>
      <div class="section-content">
        <div is="d-recent-item-list"></div>
      </div>
    </div>

    <div>
      <div class="text-3 section"> Clusters </div>
      <div class="section-content"> 
        <div is="d-cluster-item-list"></div>
      </div>
    </div>

    <div>
      <div class="text-3 section"> Databases </div>
      <div class="section-content"> 
        <div is="d-database-item-list"></div>
      </div>
    </div>

    <div>
      <div class="text-3 section"> Tables </div>
      <div class="section-content"> 
        <div is="d-table-item-list"></div>
      </div>
    </div>


  </div>

  <div style="margin-top: auto;">  </div>
</div>

</div>


<div style="display: flex;">
    <div></div>
    <div></div>
</div>
<div></div>

<script src="/static/js/index.js"></script>
